@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    display:flex;
    justify-content: space-between;
    margin: 10px 0;
}
#tab{
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: rgb(199, 194, 194);
}
#tab li{
    list-style: none;
}
.navbtn{
    background-color: white;
    color:hsl(256, 26%, 20%);
    padding: 0.5em;
}
.navbtn:hover {
    background-color:hsl(256, 26%, 20%) ;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
a{
    text-decoration: none;
    color:hsl(0, 5%, 82%) ;
}
a:hover{
    color:black;
    cursor: pointer;
    font-weight: 700;
}
main{
     background-color:rgb(45,38,64);
     height: 80vh;
     display: flex;
     color: white;
     padding-top: 6em;
     padding-left: 5em;
}
#intro-text{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     /* height: 70%; */
     width: 60%;
}
h1{
    font-size: 3rem;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
}
h5{
    width: 70%;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 0.2em;
}
#banner img{
     width: 80%;
  
}
.btn{
    background-color: inherit;
    color:white;
    padding: 0.5em;
    font-size: small;
    margin-top: 1em;
    border: 1px groove white;
}